@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/filemanager/css/filemanager.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container" x-data="data">
        <div class="filemanager">
            @*Thanh công cụ*@
            <div class="fm-toolbox">
                Thanh công cụ
            </div>

            @*Cây thư mục*@
            <div class="fm-folder-tree">
                <template x-for="f in $data._filemanager">
                    <ul>
                        <li x-text="f"> </li>
                    </ul>
                </template>
            </div>

            @*Hiển thị file*@
            <div class="fm-main-panel">
            </div>


            @*Thông tin bổ xung*@
            <div class="fm-additional-info">
                Thông tin bổ xung
            </div>
        </div>
    </div>

    <script defer src="~/lib/alpinejs/cdn.min.js"></script>
    <script src="~/lib/filemanager/js/filemanager.js" asp-append-version="true"></script>
</body>
</html>
